[Unit]
Description=iwasaki mqtt service
Requires=rc-local.service
After=rc-local.service

[Service]
ExecStart=/usr/sbin/mosquitto -p 21883
Restart=always
RestartSec=10s
TimeoutStartSec=0
StartLimitInterval=60s
StartLimitBurst=86400

[Install]
WantedBy=multi-user.target
