[Unit]
Description=iwasaki mqtt service
Requires=rc-local.service
After=rc-local.service
#RequiresMountsFor=/media/emmc

[Service]
ExecStart=/usr/sbin/mosquitto -d -p 21883
KillMode=process
Restart=always
RestartSec=10s
TimeoutStartSec=0
StartLimitInterval=60s
StartLimitBurst=86400

[Install]
WantedBy=multi-user.target

