<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sensor viewer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
</head>
<body>
<section class="hero is-primary is-fullheight">

<link rel=stylesheet type=text/css href="//vjs.zencdn.net/7.11.4/video-js.min.css">

<script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div id="app" class="container has-text-centered">
  <br/>

  <div class="level">
    <div class="level-left">
      <div class="subtitle is-5 level-item">
        <strong>[[ timeStampLabel ]]</strong>
      </div>
    </div>
    <div class="level-right">
      <button class="button is-info is-large is-rounded level-item" @click="fetchVideo" :disabled="isPolling">映像取得</button>
      <button class="button is-info is-large is-rounded level-item" @click="fetchImage">画像取得</button>
    </div>
  </div>

  <table class="table is-bordered is-fullwidth" style="table-layout: fixed;">
    <tbody>
      <tr>
        <td style="height: 100px;" v-for="(sensor, index) in sensors[0]" :key="index">
          <p class="has-text-primary-dark content" v-if="sensor.label.length < 5">[[ sensor.label ]]</p>
          <p class="has-text-primary-dark content is-small" v-else>[[ sensor.label ]]</p>
          <p class="has-text-primary-dark">[[ `${sensor.value} ${sensor.unit}` ]]</p>
        </td>
      </tr>
      <tr>
        <td style="height: 100px;" v-for="(sensor, index) in sensors[1]" :key="index">
          <p class="has-text-primary-dark">[[ sensor.label ]]</p>
          <p class="has-text-primary-dark">[[ `${sensor.value} ${sensor.unit}` ]]</p>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="level" v-if="!video">
    <div class="level-item">
      <p class="box has-text-primary-dark">映像を取得していません</p>
    </div>
  </div>

  <div class="level">
    <div class="level-item">
      <video
        id="video"
        class="vjs-default-skin vjs-big-play-centered"
        muted
        playsinline
        data-setup='{}'
      />
    </div>
  </div>
</div>

<script src="main.js"></script>
<script src="//vjs.zencdn.net/7.14.1/video.min.js"></script>

</section>
</body>
</html>
